@import "variables";
@import "default";

html {
  font-size: 1.4vw;
  letter-spacing: 0.04em;
  font-family: "Montserrat-Light";
}

// text
h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  &.big {
    letter-spacing: 0.02em;
    font-size: 2.2rem;
    font-weight: 600;
  }
}
h2 {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  font-weight: normal;
}
h3 {
  font-size: 1.23rem;
  letter-spacing: 0.01em;
  font-weight: normal;
}
.text-small {
  font-size: 0.85rem;
  letter-spacing: 0.02em;
}
.text-very-small {
  font-size: 0.75rem;
  letter-spacing: 0.02em;
}

// padding
.paddingTB {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.paddingRL {
  padding-right: 6rem;
  padding-left: 6rem;
}

// some styles
// menu hover and active in footer and header
.main-menu {
  li a:hover {
    color: $middleGray;
  }
  li a.active {
    border-bottom: 1px solid $lightGray;
    &:hover {
      border-bottom: 1px solid $middleGray;
    }
  }
}

// text
.text-end {
  text-align: end;
}

// картинка на фоне блока
.img-bg-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
// Дополнотельный фон на блоке, затемнение либо осветление
.add-bg-block {
  position: relative;
  display: flex;
  flex-direction: column;
  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .inner {
    z-index: 3;
  }
}
// Затемнение
.add-bg-block-dark {
  &::before {
    background-color: rgba(64, 64, 64, 0.8);
  }
}

// ! анимация
// Анимация выезжания c отступом классического паддинга
@keyframes fromLeftSide {
  from {
    transform: translateX(-6rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromRightSide {
  from {
    transform: translateX(6rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromScale {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.beforeAnimateFromLeftSide {
  opacity: 0;
}
.animateFromLeftSide {
  animation: fromLeftSide 0.5s;
  opacity: 1;
}
.beforeAnimateFromRightSide {
  opacity: 0;
}
.animateFromRightSide {
  animation: fromRightSide 0.5s;
  opacity: 1;
}
.beforeAnimateFromScale {
  transform: scale(0.5);
  opacity: 0;
}
.animateFromScale {
  animation: fromScale 0.5s;
  opacity: 1;
}

// анимация открытия страниц
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: $middleGray;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: $darkGray;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $lightGray;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}
